.theme-colors1 {
    .section1__card__title{
      border-color: $dirty-blue;
    }
    .section1__name {
      color: $dark-green-blue;
    }
    .section1__link {
      border-color: $hospital-green;
    }
    .section1__link__image {
      color: $dark-green-blue;
    }
}

.theme-colors2 {

    .section1__card__title{
      border-color: $rusty-red;
    }
    .section1__name {
      color: $dried-blood;
    }
    .section1__link {
      border-color: $tomato;
    }
    .section1__link__image {
      color: $dried-blood;
    }
}

.theme-colors3 {
    .section1__card__title{
      border-color: $faded-orange;
    }
    .section1__name {
      color: $slate;
    }
    .section1__link {
      border-color: $light-grey-blue;
    }
    .section1__link__image {
        color: $slate;
    }
}
