@import 'core/reset';
@import 'core/variables';
@import 'core/mixins';

@import 'components/buttons';
@import 'components/links';

@import 'sections/landing-header';
@import 'sections/landing-page';
@import 'sections/cards-header';
@import 'sections/cards-page';
@import 'sections/palet-colors';
@import 'sections/collapsables';
@import 'sections/footer.scss';
