@import 'core/settings';
@import 'core/variables';
@import 'core/mixins';
@import 'components/buttons';

// body {
// 	background: url('../images/logo-adalab-80px.png') center center no-repeat $color-white;
// 	margin: 0;
// 	height: 100vh;
// }
