<section1 class="section1">
  <div class="section1__container">
    <button type="reset" class="section1__button button-reset-mobile">
      <i class="far fa-trash-alt"></i> RESET
    </button>
    <div class="section1__card">
      <div class="section1__card__title">
        <h2 class="section1__name js__title">Nombre Apellido</h2>
        <h3 class="section1__career">Front-end developer</h3>
      </div>
      <div class="section1__image" style="background-image: url('https://via.placeholder.com/150')">
        <img src="https://via.placeholder.com/150" alt="Nombre Apellido">
      </div>
      <ul class="section1__links">
        <l1 class="section1__element">
          <a href="" class="section1__link">
            <i class="fas fa-mobile-alt section1__link__image"></i>
          </a>
        </l1>
        <l1 class="section1__element">
          <a href="" class="section1__link">
            <i class="far fa-envelope section1__link__image"></i>
          </a>
        </l1>
        <l1 class="section1__element">
          <a href="" class="section1__link">
            <i class="fab fa-linkedin-in section1__link__image"></i>
          </a>
        </l1>
        <l1 class="section1__element">
          <a href="" class="section1__link">
            <i class="fab fa-github-alt section1__link__image"></i>
          </a>
        </l1>
      </ul>
    </div>
  </div>
</section1>
