<section class="cards__section-2">
  <form action="/signup" method="POST">
<!-- <fieldset></fieldset> -->
<!-- <legend>Elegir tema</legend> -->
    <div class="form__design collapsable">
      <h4 class="form__design-title form-title">Diseña</h4>
    </div>
    <div class="form__design-content">
      <h3 class="colors">Colores:</h3>
      <div class="palette">
        <label for="p1" class="paletter__row">
          <input type="radio" class="plaette__radio" id="p1" name="palette">
          <ul class="colors">
            <li class="color" style="background-color: #114e4e">#830000</li>
            <li class="color" style="background-color: #438792">#c0ffee</li>
            <li class="color" style="background-color: #a2deaf">#fabada</li>
          </ul>
        </label>
      </div>
      <div class="palette">
        <label for="p2" class="paletter__row">
          <input type="radio" class="plaette__radio" id="p2" name="palette">
          <ul class="colors">
            <li class="color" style="background-color: #420101">#830000</li>
            <li class="color" style="background-color: #bd1010">#c0ffee</li>
            <li class="color" style="background-color: #e95626">#e95626</li>
          </ul>
        </label>
      </div>
      <div class="palette">
        <label for="p2" class="paletter__row">
          <input type="radio" class="plaette__radio" id="p2" name="palette">
          <ul class="colors">
            <li class="color" style="background-color: #3e5b65">#830000</li>
            <li class="color" style="background-color: #eab052">#c0ffee</li>
            <li class="color" style="background-color: #a0c0cf">#fabada</li>
          </ul>
        </label>
      </div>
    </div>
<!-- <fieldset></fieldset> -->
<!-- <legend>Información personal:</legend> -->
    <div class="form__design collapsable">
      <h4 class="form__design-title form-title">Rellena</h4>
    </div>
    <div class="form__design-content">
        <div class="form__design-input">
          <label for="form-name" class="form-label">Nombre completo</label>
          <input type="text" class="form-text" id="form-name" name="name"/>
        </div>
        <div class="form__design-input">
          <label for="form-career" class="form-label">Puesto</label>
          <input type="text" class="form-text" id="form-career" name="career"/>
        </div>
        <div class="form__design-input">
          <label for="form-photo" class="form-label">Imagen de perfil</label>
          <input type="file" class="form-text form-file" id="form-photo" name="career"/>
          <button class="form-photo-button"></button>
          <div class="form-photo-preview"></div>
        </div>
        <div class="form__design-input">
          <label for="form-email" class="form-label">Email</label>
          <input type="email" class="form-text" id="form-email" name="email"/>
        </div>
        <div class="form__design-input">
          <label for="form-tel" class="form-label">Teléfono</label>
          <input type="tel" class="form-text" id="form-tel" name="telephone"/>
        </div>
        <div class="form__design-input">
          <label for="form-linkedin" class="form-label">Linkedin</label>
          <input type="tel" class="form-text" id="form-linkedin" name="linkedin"/>
        </div>
        <div class="form__design-input">
          <label for="form-github" class="form-label">Github</label>
          <input type="tel" class="form-text" id="form-github" name="github"/>
        </div>

    </div>
  </form>
</section>
