<section1 class="section1">
  <div class="section1__container">
    <button type="reset" class="section1__button button-reset-mobile js__button" form="form">
      <i class="far fa-trash-alt"></i> RESET
    </button>
    <div class="section1__card">
      <div class="section1__card__title">
        <h2 class="section1__name js__title">Nombre Apellido</h2>
        <h3 class="section1__career js__job">Front-end developer</h3>
      </div>
      <div class="section1__image js__profile-image" style="background-image: url()">
        <img id="img" class="section1__image-img" src="" alt="Nombre Apellido">
      </div>
      <ul class="section1__links">
        <l1 class="section1__element">
          <a href="" class="section1__link js__icon-mail hidden">
            <i class="far fa-envelope section1__link__image"></i>
          </a>
        </l1>
        <l1 class="section1__element">
          <a href="" class="section1__link js__icon-phone hidden">
            <i class="fas fa-mobile-alt section1__link__image"></i>
          </a>
        </l1>
        <l1 class="section1__element">
          <a href="" target="__blank" class="section1__link js__icon-linkedin hidden">
            <i class="fab fa-linkedin-in section1__link__image"></i>
          </a>
        </l1>
        <l1 class="section1__element">
          <a href="" target="__blank" class="section1__link js__icon-github hidden">
            <i class="fab fa-github-alt section1__link__image"></i>
          </a>
        </l1>
      </ul>
    </div>
  </div>
</section1>
