<main class="landing__main">
  <h2 class="landing__main-title">Crea tu tarjeta de visita</h2>
  <p class="landing__main-text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
  <ul class="landing__main-list">
    <li class="landing__main-item">
      <img src="https://placehold.it/26x26/FF0000/FFFFFF" alt="Icono diseña" class="landing__main-image">
      <p class="landing__main-description .list-design">Diseña</p>
    </li>
    <li class="landing__main-item">
   <!--    <img src="https://placehold.it/26x26/FF0000/FFFFFF" alt="Icono rellena" class="landing__main-image"> -->
      <p class="landing__main-description .list-fill">Rellena</p>
    </li>
    <li class="landing__main-item">
      <img src="https://placehold.it/26x26/FF0000/FFFFFF" alt="Icono comparte" class="landing__main-image">
      <p class="landing__main-description .list-share">Comparte</p>
    </li>
  </ul>
  <div class="landing__main-startButton">
    <a href="cards.html" class="landing__main-start">Comenzar</a>
  </div>
</main>
