<main class="landing__main">
  <div class="landing__main-container">
    <h2 class="landing__main-title">Crea tu tarjeta de visita</h2>
    <p class="landing__main-text">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <ul class="landing__main-list">
      <li class="landing__main-item main-item1">
        <i class="far fa-object-ungroup landing__list-iconDesign"></i>
        <p class="landing__main-description .list-design">Diseña</p>
      </li>
      <li class="landing__main-item main-item2">
        <i class="far fa-keyboard landing__list-iconFill"></i>
        <p class="landing__main-description .list-fill">Rellena</p>
      </li>
      <li class="landing__main-item main-item3">
        <i class="fas fa-share-alt landing__list-iconShare"></i>
        <p class="landing__main-description .list-share">Comparte</p>
      </li>
    </ul>
  </div>
  <div class="landing__main-startButton">
    <a href="cards.html" class="landing__main-start">Comenzar</a>
  </div>
</main>
