<main class="landing__main">
  <h2 class="landing__main-title">Crea tu tarjeta de visita</h2>
  <p class="landing__main-text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
  <ul class="landing__main-list">
    <li class="landing__main-item">
      <img src="" alt="" class="landing__main-image">
      <p class="landing__main-descrition">Diseña</p>
    </li>
    <li class="landing__main-item">
      <img src="" alt="" class="landing__main-image">
      <p class="landing__main-descrition">Rellena</p>
    </li>
    <li class="landing__main-item">
      <img src="" alt="" class="landing__main-image">
      <p class="landing__main-descrition">Comparte</p>
    </li>
  </ul>
  <a href="cards.html" class="landing__button-start">Comenzar</a>
</main>
