<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Adalab Web Starter Kit</title>
  <link rel="icon" href="favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <partial src="_cards-header.html" label="Cards header"></partial>
    <partial src="_cards-page.html" label="Cards page"></partial>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
  <script scr="assets/js/main.js"></script>
</body>
</html>
