.section1 {
  padding:38px 35px 40px 45px;
  background-color:$silver;
  display:flex;
  justify-content:center;
  align-items: center;

  &__card {
    background-color: $white;
    padding-top:21px;

    &__title {
      padding-left:15px;
      padding-right:20px;
      border-left: 5px solid $dark-green-blue;
      margin-bottom:10px;
    }
  }

  &__name {
    @include Cards-Card-Name;
    margin:0 0 4px;
  }

  &__career {
    @include Cards-Card-Career;
    margin:0;
  }
}



