.cards__header{
    background-image: url("../../assets/images/logo.svg");
    background-repeat: no-repeat; 
    background-size: contain;  
    
}

.cards__title{
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding-top: 107px;
}