.wrapper{
  margin: 0 20px;

  @media all and (min-width:768px){
    margin: 0;
  }
}

.cards__section-2{
  width: 320px;
  margin:27px auto 30px;

    @media all and (min-width:768px) {
      grid-column:1/2;
      width: 329px;
      margin:0;
    }
  }

.form__fieldset{
  position: relative;
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form__fielset-legend{
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  top:0;
  left: 0;
}

.theme{
  margin: 0 0 20px;
  &:last-child{
    margin:0 0;
  }
}

.theme__row{
  display: flex;
  align-items: center;
}

.colors{
  display: flex;
  margin: 0 0 0 5px;
  padding: 0;
  list-style: none;
}

.color{
  width: 30px;
  height: 1px;
  padding-top: 24px;
  overflow: hidden;
}

.form-title{
  @include Cards-Form-Title;
  border-top: 1px solid $grey-borders;
  box-sizing: border-box;
  padding: 10px 16px 10px 31px;
  margin: 0;
  position: relative;
}

.form__design-title{
  border-top: 1px solid transparent;
}

.design-container{
  display: flex;
  justify-content: space-between;
  margin: 12px 0 20px;
}

.theme-container{
  display: flex;
  flex-direction: column;
}

.form-colors-text{
@include Cards-Form-ColorsText;
margin: 0;
}

.fill-container{
  margin: 1px 0 0;
}

.form-label{
  @include Cards-Form-Labels;
  display: block;
  margin: 0 0 7px;
}

.form-text{
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border: solid 1px $hospital-green;
  margin: 0 0 20px;
  &:last-child{
    margin: 0 0 30px;
  }
}

.form-text:placeholder{
  @include Cards-Form-Placeholders;
}

.form-photo-preview{
  display: inline-block;
  width: 30px;
  height: 30px;
  border: solid 1px $hospital-green;
  margin: 0 0 20px 20px;
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
}

.submit-container{
  text-align: center;
  box-sizing: border-box;
  padding: 20px 0 30px;
  border-bottom: 1px solid $grey-borders;
}

.share-container {
  text-align: center;
  box-sizing: border-box;
  padding: 20px 0 30px;
  border-bottom: 1px solid $grey-borders;
}

.card-success {
  @include Cards-Form-SuccessText;
  margin: 0;

}

.share-link {
  @include Cards-Form-Link;
  display: block;
  margin: 5px 0 13px;
  overflow: visible;
}

.share-link-url{
  @include Cards-Form-Link;
  display: block;
  margin: 5px 0 13px;
  overflow: visible;
}


.title-1::before{
  content: "\f248";
  left:0;
  top: 13px;
  position: absolute;
  width: 21px;
  height: 18px;
  font-family: "Font Awesome 5 Pro";
  color: $dull-orange;
  font-weight: 400;
}

.title-2::before{
  content: "\f11c";
  left:0;
  top: 13px;
  position: absolute;
  height: 18px;
  font-family: "Font Awesome 5 Pro";
  color: $dull-orange;
  font-weight: 400;
}

.title-3::before{
  content: "\f1e0";
  left:0;
  top: 13px;
  position: absolute;
  height: 18px;
  font-family: "Font Awesome 5 Pro";
  color: $dull-orange;
  font-weight: 900;
}

.hidden{
  display: none;
}
