.js__collapsable1 {

  .title-1::after {
    transform: rotate(180deg);
  }
}

.js__collapsable2 {
  .title-2::after{
    transform: rotate(180deg);
  }
}

.js__collapsable3 {
  .title-3::after{
    transform: rotate(180deg);
  }
}



