.js__collapsable1 {

  .title-1::after{
    transform: none;
  }
  .design-container{
    display: none;
  }
}

.js__collapsable2{
  .title-2::after{
    transform: none;
  }
  .fill-container{
    display: none;
  }
}

.js__collapsable3{
  .title-3::after{
    transform: none;
  }
  .submit-container{
    display: none;
  }
}



