.footer__container{
    text-align: center;


    /* background-color:red; */

    @media all and (min-width:678px){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 41px;
    }
}

.footer__copyright{
    @include Footer-Copy;
}

.footer__logo-adalab{
    height: 40px;
}

