.landing__header {
  background-color: $grey-landing;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.landing__title {
  background-image: url('../../assets/images/logo.svg');
  background-repeat: no-repeat;
  width: 250px;
  background-size: contain;
  background-position: center;
  padding-top: 63px;
  height: 1px;
  overflow: hidden;
  margin:0;

}

.page__flex{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0 30px;
  box-sizing: border-box;
  background-color: $grey-landing;
}

@media all and (min-width: 768px){

  .page__flex{
    padding: 100px 60px 60px;
  }
  .landing__title{
    width: 420px;
    padding-top: 107px;
  }
}



