
.landing__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.landing__header {
  background-color: $grey-landing;
  display: flex;
  justify-content: center;
  padding-top: 95px;
}

.landing__title {
  background-image: url('../../assets/images/logo.svg');
  background-repeat: no-repeat;
  width: 250px;
  background-size: contain;
  background-position: center;
  padding-top: 94px;
  height: 1px;

  overflow: hidden;
  margin:0;
}

@media all and (min-width: 768px) {
  .landing__container{
    flex-grow: 1;
  }
}
