.body{
  margin:0;
  padding: 0;
}

.page-cards{
  @media all and (min-width:768px){
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

.page-landing{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $grey-landing;
}
