// COLORS:
$black: #000000;
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$light-khaki: #f9f4dc;
$dull-orange: #e17334;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$black-op20: rgba(0, 0, 0, 0.2);
$dark-green-blue: #114e4e;
$dark-grey: #54585a;
$white: #ffffff;

$grey-footer: #6b6b6b;
$grey-placeholder: #c5c5c5;
$grey-landing: #f5f5f5;
$grey-borders: #d8d8d8;

// FONTS:
$font-family-Montse: 'Montserrat', sans-serif;
$font-family-Merri: 'Merriweather', serif;
$font-family-Open: 'Open Sans', sans-serif;

$font-weight-normal:400;
$font-weight-medium:600;
$font-weight-bold:700;
$font-weight-black:900;








